html
    p Hello! You requested to reset your password on an account that holds this email: #{email}.
    h2(style="text-align:center") Here is your new password to Maktabty!
    h1(style="text-align:center") #{password}    
    h3 Didn't request password reset on this email?
    p No worries! Your Address may have been entered by mistake? If you ignore or delete this email, nothing further will happen.