html
    h2(style="text-align:center") Confirm your email on Maktabty!
    p Hello! we just need to verify that #{email} is your email address.
    h2(style="text-align:center") your verification code is
    h1(style="text-align:center") #{verificationCode}
    h3 Didn't request this email?
    p No worries! Your Address may have been entered by mistake? If you ignore or delete this email, nothing further will happen.